################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/obj
/Test/bin/Debug/net6.0
/WebApplication2/bin/Debug/net6.0
/WebApplication2/obj
